{{>headers}}

<link rel="stylesheet" href="/index.css">
 

<h1><span style= "color: black;"> Wellcome Dear Clerk: {{user.firstName}} {{user.lastName}}</h1>

<br>
<div class="works">
    <br>
    <p>Do You Know How You Can Order?</p>
    <br>
</div>
<div class="grid-container">

<div class="grid-item"><img src="/images/choosing.jpg" alt="choosing" width="150">

    <p>
Choosing your meal from different types of food        </p></div>
    <div class="grid-item"><img src="/images/cheapest.jpg" alt="choosing" width="150">

        <p>
    Get the cheapest options in your area    </p></div>
    <div class="grid-item"><img src="/images/review.jpg" alt="choosing" width="200" height="150">

        <p>
    Knowing reviews of other people on your selected restaurant is your piority    </p></div>
    <div class="grid-item"><img src="/images/finalize.jpg" alt="choosing" width="200" height="150">

        <p>
    Finalize your request    </p></div>
</div>
<br>
<hr>


<div class="Top-meals">
    <p><strong>TODAY</strong> Deals </p>
    <br>
</div>
<div class="clr"></div>
<div class="grid-container-2">
{{#each fastfood}}
    <div class="grid-item-2"><p>
        <img src="/images/{{imageURL}}" alt="{{title}}" width="200" height="150"/>
    <p>
       <strong>{{this.title}}<br></strong> 
<button id="main-menu">{{this.price}} </button>  </p></div>
   
  {{/each}}
  </div>
<br>
<br>
<br>

{{>footer}}